.mainSection {
    display: flex;
    gap: 2rem;
    margin-top: 0rem;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    align-items: stretch !important;

}

.upload {
    flex: 0 0 65%;
    height: 100%;
    min-width: 300px;
}

.selector {
    flex: 0 0 32.5%;
    height: 100%;
    min-width: 220px;
}

.upload,
.selector {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.upload>*,
.selector>* {
    flex-grow: 1;
    height: 100%;
}


@media (max-width: 1370px) {
    .mainSection {
        flex-direction: column;
    }

    .upload,
    .selector {
        flex: 1 1 100%;
        min-width: 100%;
    }

    .mainSection {
        align-items: stretch;
    }

    .upload,
    .selector {
        height: auto;
        min-height: 100%;
    }
}